MVCServis/Connected Services/CaferServis/Cafer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="tumDersler">
        <s:complexType />
      </s:element>
      <s:element name="tumDerslerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tumDerslerResult" type="tns:ArrayOfTBL_DERSPROG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTBL_DERSPROG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TBL_DERSPROG" nillable="true" type="tns:TBL_DERSPROG" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TBL_DERSPROG">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BASLIK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ALTYAZI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GUN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YIL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RESIM" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="tumDerslerSoapIn">
    <wsdl:part name="parameters" element="tns:tumDersler" />
  </wsdl:message>
  <wsdl:message name="tumDerslerSoapOut">
    <wsdl:part name="parameters" element="tns:tumDerslerResponse" />
  </wsdl:message>
  <wsdl:portType name="CaferSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="tumDersler">
      <wsdl:input message="tns:tumDerslerSoapIn" />
      <wsdl:output message="tns:tumDerslerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CaferSoap" type="tns:CaferSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tumDersler">
      <soap:operation soapAction="http://tempuri.org/tumDersler" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaferSoap12" type="tns:CaferSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tumDersler">
      <soap12:operation soapAction="http://tempuri.org/tumDersler" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cafer">
    <wsdl:port name="CaferSoap" binding="tns:CaferSoap">
      <soap:address location="http://localhost:55906/Cafer.asmx" />
    </wsdl:port>
    <wsdl:port name="CaferSoap12" binding="tns:CaferSoap12">
      <soap12:address location="http://localhost:55906/Cafer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>